@font-face {
  font-family: product sans;
  font-style: normal;
  font-weight: 400;
  src: local("Product Sans"), url(fonts/ProductSans-Regular.woff) format("woff");
}
@font-face {
  font-family: product sans;
  font-style: italic;
  font-weight: 400;
  src: local("Product Sans"), url(fonts/ProductSans-Italic.woff) format("woff");
}
@font-face {
  font-family: product sans thin;
  font-style: normal;
  font-weight: 250;
  src: local("Product Sans Thin"),
    url(fonts/ProductSans-Thin.woff) format("woff");
}
@font-face {
  font-family: product sans light;
  font-style: normal;
  font-weight: 300;
  src: local("Product Sans Light"),
    url(fonts/ProductSans-Light.woff) format("woff");
}
@font-face {
  font-family: product sans medium;
  font-style: normal;
  font-weight: 500;
  src: local("Product Sans Medium"),
    url(fonts/ProductSans-Medium.woff) format("woff");
}
@font-face {
  font-family: product sans black;
  font-style: normal;
  font-weight: 900;
  src: local("Product Sans Black"),
    url(fonts/ProductSans-Black.woff) format("woff");
}
@font-face {
  font-family: product sans thin;
  font-style: italic;
  font-weight: 250;
  src: local("Product Sans Thin"),
    url(fonts/ProductSans-ThinItalic.woff) format("woff");
}
@font-face {
  font-family: product sans light;
  font-style: italic;
  font-weight: 300;
  src: local("Product Sans Light"),
    url(fonts/ProductSans-LightItalic.woff) format("woff");
}
@font-face {
  font-family: product sans medium;
  font-style: italic;
  font-weight: 500;
  src: local("Product Sans Medium"),
    url(fonts/ProductSans-MediumItalic.woff) format("woff");
}
@font-face {
  font-family: product sans;
  font-style: normal;
  font-weight: 700;
  src: local("Product Sans"), url(fonts/ProductSans-Bold.woff) format("woff");
}
@font-face {
  font-family: product sans;
  font-style: italic;
  font-weight: 700;
  src: local("Product Sans"),
    url(fonts/ProductSans-BoldItalic.woff) format("woff");
}
@font-face {
  font-family: product sans black;
  font-style: italic;
  font-weight: 900;
  src: local("Product Sans Black"),
    url(fonts/ProductSans-BlackItalic.woff) format("woff");
}
