@import url("/googlesans.css");

* {
  font-family: "Product Sans", sans-serif !important;
  transition: all 0.3s ease;
}

:root {
  --link-text-color: #437cbe !important;
  --link-hover-text-color: #43a1be !important;
  --left-heading-color: #ff56c7 !important;
  --subheading-color: #ac599e !important;
  --selected-row-bg: #dbf3ff !important;
  --selected-row-bg-lighter: #efffff !important;
  --selected-row-border-darker: #c7dfeb !important;
  --header-bg-color: #ff56c7 !important;
  --section-nav-bg-color: #e9e9e9 !important;
  --section-nav-link-bg-color: #fff !important;
  --checkout-left-bar-bg: #327d86 !important;
  --left-bar-bg: #43a1be !important;
  --left-bar-border-color: #2d4252 !important;
  --tile1-bg-color: #ff56c7 !important;
  --tile2-bg-color: #43a1be !important;
  --tile3-bg-color: #43a1be !important;
  --tile4-bg-color: #43a1be !important;
}
.section_nav.has_accordion .expand_contract i:after {
  filter: brightness(2) !important;
}
.sectionLink.inverted {
  background: #ff56c7 !important;
}

div.sectionTitle h1 {
  font-weight: bold !important;
}

nav#leftColumn ol > li > a:not(.centreIcon):hover,
nav#leftColumn ol > li > a:not(.centreIcon).highlight,
nav#leftColumn ol > li > a.selected,
nav#leftColumn li > ul > li > a:not(.centreIcon):hover,
nav#leftColumn li > ul > li > a.selected,
.section_nav a:not(.locked):hover,
.section_nav ul a.selected,
#user-menu ol > li.mm-opened > a,
#user-menu ol > li > a:hover,
#user-menu ol > li > a.highlight,
#user-menu ol > li > a.selected {
  background: linear-gradient(to right, #61d9fd 0%, #43a1be 100%) !important;
  color: black !important;
}

nav#leftColumn ol > li > a:not(.centreIcon),
nav#leftColumn ol > li > a:not(.centreIcon),
nav#leftColumn ol > li > a,
nav#leftColumn li > ul > li > a:not(.centreIcon),
nav#leftColumn li > ul > li > a,
.section_nav a:not(.locked),
.section_nav ul a,
#user-menu ol > li > a,
#user-menu ol > li > a,
#user-menu ol > li > a,
#user-menu ol > li > a {
  transition: all 0.5s ease;
}

.catalog_boxes > * {
  border-radius: 0px !important;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2) !important;
  /* overflow: scroll !important; */
}

.difSignIn,
input[type="submit"],
input[type="button"],
button,
.mainNav .cta a,
header,
#facebox .header,
#chatContainer .header,
.chatHeader,
.mobileSearch,
.ui-datepicker .ui-datepicker-buttonpane button,
.ui-datepicker .ui-widget-header,
.select2-results .select2-highlighted,
.select2-container-multi .select2-choices .select2-search-choice,
.messageOptions li a,
.optionsRibbon ul.inverted li a,
.section-intro p.number,
.jconfirm .jconfirm-box div.title,
.options_btn.inverted,
.quiz_match_choice.ui-draggable-dragging,
#fullscreen_msg_holder .header,
.vex .vex-header,
.link_button,
.senders-placeholder span,
.popover-stack .popover-header {
  /* background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);; */
  background: #ff56c7 !important;
}

.dropDownHolder > a:hover,
.quickLinks > a:hover,
.quickLinks .dropDownHolder > a:focus,
.quickLinks > a:focus,
.highlight {
  transition: all 0.3s ease !important;
  background: #ff75d1 !important;
  transform: scale(90%) !important;
}

/* .dropDownHolder > a,
.quickLinks > a,
.quickLinks .dropDownHolder > a,
.quickLinks > a,
.highlight {
  border-radius: 5px !important;
} */
